*.scss linguist-detectable=true
*.sass linguist-detectable=true
*.css linguist-detectable=true
*.less linguist-detectable=true

*.html linguist-detectable=false
*.sql linguist-detectable=false
*.js linguist-detectable=false

