*.scss linguist-detectable=false
*.sass linguist-detectable=false
*.css linguist-detectable=false
*.less linguist-detectable=false

*.html linguist-detectable=true
*.sql linguist-detectable=true
*.js linguist-detectable=true

